node_modules/
.DS_Store
*.log

extension/background.js
extension/content.js
extension/gmail-content.js
extension/page.js
extension/popup.html
extension/popup.js
extension/options.html
extension/options.js
extension/manifest.json
extension/_locales/

*.pdf
*_pages/
*_slides/
